@model IEnumerable<dominio.TipoEdicion>

@{
    ViewData["Title"] = "Lista Tipo Edicion";
}

<div class="container">
    <section class="row justify-content-center">
        <div class="text-center">
            <h1>Lista Tipo Edicion</h1>
        </div>
        <div>
            <p>
                <a class="btn btn-primary" asp-action="Create">Crear Tipo Edicion</a>
            </p>
            <p>
                <form class="d-flex" role="search" asp-action="Index" method="get">
                    <input value="@ViewBag.filtro" class="form-control me-2" type="search" name="filtro" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </p>
        </div>
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </section>
</div>
