@model Ejemplo7_EF.Models.Exposicion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exposicion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
    </dl>
</div>

@await Html.PartialAsync("_ObrasExpuestas", Model)
<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@if (User.IsInRole(Roles.Admin))
{
    <p>
        -----------------------------------------------------------------------------------------
    </p>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a> |
        <a asp-action="SelectObras" asp-route-id="@Model.Id">Add to Obras</a>
    </div>
}

@if (Model.ObrasExpuestas == null || !Model.ObrasExpuestas.Any())
{
    <p>NO HAY OBRAS PUBLICADAS</p>
}
else
{
    @if (User.IsInRole(Roles.Admin))
    {
        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Imagen</th>
                    <th>Quitar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obra in Model.ObrasExpuestas)
                {
                    <tr>
                        <td>@obra.Titulo</td>
                        <td><img src="@obra.UrlImagen" height="50" alt="Alternate Text" /></td>
                        <td><a asp-action="QuitarObra" asp-route-idExpo="@Model.Id" asp-route-idObra="@obra.Id" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}